<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zykj.yixiu">
    <!--xutlis开始-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--xutlis结束-->
    <!--百度地图开始-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--百度地图结束-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.MyApplication"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="WCK7aKanxYRa6E8qonV98RDeh9lQDXnu" />
        <activity android:name=".activity.Main_only">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Mainactivity"></activity>
        <activity android:name=".activity.Activity_Phoneservice"></activity>
        <activity android:name=".activity.Activity_Computereservice"></activity>
        <activity android:name=".activity.Activity_Houseereservice"></activity>
        <activity android:name=".activity.Activity_Callservice"></activity>
        <activity android:name=".activity.Activity_Prcenter"></activity>
        <activity android:name=".activity.Main_only_register"></activity>
        <activity android:name=".activity.Main_only_register_pwd"></activity>
        <activity android:name=".activity.Main_only_register_forgetpwd"></activity>
        <activity android:name=".activity.Activity_Prcenter_myself"></activity>
        <activity android:name=".activity.Activity_Prcenter_mywallet"></activity>
        <activity android:name=".activity.Activity_Prcenter_myself_address"></activity>
        <activity android:name=".activity.Activity_Prcenter_myself_approve"></activity>
        <activity android:name=".activity.Activity_Prcenter_myself_service"></activity>
        <activity android:name=".activity.Activity_Prcenter_myself_aboutus"></activity>
        <activity android:name=".activity.Activity_Prcenter_myself_setting"></activity>
        <activity android:name=".activity.Activity_Prcenter_myorder"></activity>
        <activity android:name=".activity.Activity_Prcenter_myself_setting_pwd"></activity>
        <activity android:name=".activity.Activity_Prcenter_myself_setting_image"></activity>
        <activity android:name=".activity.Activity_Prcenter_myself_service_message"></activity>
        <activity android:name=".activity.Activity_Prcenter_myself_service_common"></activity>

    </application>

</manifest>
